.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
  
.photo {
    width: 44px;
    height: 44px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}
  
.personPhoto {
    width: auto;
    height: 100%;
    margin: 0 auto;
}
